.accessories {
	position: relative;
	z-index: 1;

	box-shadow: 0px -2px 0px 0px rgba(255, 255, 255, 1);
	&__inner {
		padding: 437px 0 0;

		position: relative;
	}
	&__box {
		position: absolute;

		top: -45px;
		left: 0;
	}
	&__slogan {
		display: block;
		margin: 0 0 20px;

		font-size: 72px;
		line-height: 82px;
		font-weight: 600;
		letter-spacing: 2px;
	}
	&__title {
		margin: 0 0 56px;

		font-size: 72px;
	}
	&__descr {
		max-width: 730px;
		margin: 0 0 39px;
	}
	&__btn {
		display: inline-block;
		padding: 21px 32px;

		font-size: 30px;
		font-weight: 700;
	}
}

