.categories {
	max-width: 488px;
	margin: 0 auto 40px;
	&__list {
		@include reset-list;
		display: flex;
		margin: 0 0 0 -68px;
	}
	&__item {
		margin: 0 0 0 68px;

		font-size: 32px;
		color: #3acdd5;
	}
}