html{
	box-sizing: border-box;
	overflow-x: hidden;
}
*,
*::before,
*::after{
	box-sizing: inherit;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 42px;
	color: $main-color;

	overflow-x: hidden;
}
.visually-hidden:not(:focus):not(:active), 
input[type="checkbox"].visually-hidden, 
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.container {
	max-width: 1495px;
	padding: 0 15px;
	margin: 0 auto;
}

.btn {
	padding: 15px 80px;
	border-radius: 40px;

	font-size: 24px;
	font-weight: 500;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

	background-color: rgb(58, 205, 213);
	box-shadow: 0px 4px 4.8px 1.2px rgba(0, 0, 0, 0.2);
} 

.title {
	margin: 0 0 52px;

	font-size: 62px;
	line-height: 72px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $main-color;
}